.menu {
    background: #5914c0;
    height: 50px;
    display: flex;
    font-size: 1.5rem;
    z-index: 99;
    position: relative;
    color: #4DD9FF;
    box-shadow: 0px 0px 15px #4DD9FF;

    .options {
        width: 85%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        p {
            cursor: pointer;
        }
    }

    .coins {
        width: 5%;
        background: none;
        border: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        cursor: default;
        user-select: none;
        
        svg {
            width: 30%;
        }

        button {
            cursor: pointer;
            font-size: x-large;
            background: none;
            border: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            
            svg {
                width: 30%;
            }
        }
    }

    .profile {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        .photo {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

@mixin subMenu () {
    background: #5914c0;
    font-size: 1.5rem;
    position: absolute;
    top: 49px;
    visibility: hidden;
    color: #4DD9FF;
    z-index: 98;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    p {
        padding: 15px;
        cursor: pointer;

        &:hover {
            border: 1px solid #4DD9FF;
        }
    }
}

.rankings {
    width: 10%;
    left: 40%;
    @include subMenu();
}

.rankings-superadmin {
    width: 10%;
    left: 25%;
    @include subMenu();
}

.profile-options {
    right: 1%;
    @include subMenu();
    z-index: 98;
}

.show {
    top: 49px;
    animation: show 0.2s ease-in forwards;
}

.hide {
    animation: hide 0.2s ease-in forwards;
}

@keyframes show {
    0% {
        visibility: hidden;
        top: -10%;
    }

    100% {
        visibility: visible;
        top: 49px;
    }
}

@keyframes hide {
    0% {
        visibility: visible;
        top: 49px;
    }

    100% {
        visibility: hidden;
        top: -10%;
    }
}

dialog {
    animation: fade-out 0.3s ease-out;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 60%;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgb(255, 255, 255, 0);

    &:open {
        animation: fade-in 0.3s ease-out;
    }

    .mana {
        width: 100%;
        height: calc(100% - 30px);
        border-top: 15px solid #4DD9FF;
        border-bottom: 15px solid #4DD9FF;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #00CFFF;

        .content-card {
            width: 95%;
            height: 100%;
            border-left: 1px solid #4dd9ff;
            border-right: 1px solid #4dd9ff;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-evenly;
            text-shadow: 0px 0px 20px rgba(173, 237, 255, 0.9);
            background: #1B1F2F;

            h1, h3 {
                width: 100%;
            }

            fieldset {
                width: 90%;
                height: 70%;
                border: #00CFFF 1px solid;
                text-align: center;
                font-size: x-large;

                legend {
                    padding: 5px 10px;
                    border: 1px solid #4DD9FF;
                    border-radius: 6px;
                    color: #00CFFF;
                    margin-bottom: 10px;
                }

                table {
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 0;

                    th, td {
                        border-bottom: 1px solid #4DD9FF;
                        padding: 5px 0;
                    }

                    .new-cost {
                        width: 50%;
                        font-size: x-large;
                        text-align: center;
                        background: none;
                        border: 1px solid #4DD9FF;
                        color: #4DD9FF;
                        border-radius: 6px;
                    }

                    /* Chrome, Safari, Edge, Opera */
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    input[type=number] {
                        -moz-appearance: textfield;
                    }
                    
                    i {
                        cursor: pointer;

                        &:hover {
                            color: white;
                        }
                    }

                    .bi-check-circle {
                        color: rgba(101, 219, 101, 0.87);
                    }

                    .bi-x {
                        color: rgba(219, 101, 101, 0.87);
                    }
                }
                
            }
            
            .action-buttons {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                
                .confirm-button {
                    background: linear-gradient(90deg, #5A2EA6, #4DD9FF, #5A2EA6 5%, );
                    background-size: 400% 400%;
                    animation: lightLeftToRight 10s ease infinite;
                    cursor: pointer;
                    padding: 1% 5%;
                    color: white;
                    font-size: x-large;
                    border-radius: 6px;
                }
            }

            @keyframes lightLeftToRight {
                0% {
                    background-position: 400% 0%;
                }

                25% {
                    background-position: 300% 0%;
                }

                50% {
                    background-position: 200% 0%;
                }

                75% {
                    background-position: 100% 0%;
                }

                100% {
                    background-position: 0% 0%;
                }
            }
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }

    100% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
}

dialog:open::backdrop {
    background-color: black;
    animation: backdrop-fade-in 0.7s ease-out forwards;
}

@keyframes backdrop-fade-in {
    0% {
    opacity: 0;
    }

    100% {
    opacity: 0.25;
    }
}