<div class="menu" (clickOutside)="closeSubmenu()">
    <section class="options">
        <p routerLink="agenda" (click)="closeSubmenu()">Agenda</p>
        <p (click)="toggleSubmenu('rankings'); ">Rankings</p>
        <p routerLink="live-streamers" (click)="closeSubmenu()">Apoyo</p>
        @if (decoded.role === 'superadmin') {
            <p routerLink="groups" (click)="closeSubmenu()">Grupos</p>
            <p routerLink="users" (click)="closeSubmenu()">Usuarios</p>
        }
    </section>

    <section class="coins">
        @if (decoded.role === 'superadmin') {
            <button command="show-modal" commandfor="mana-cost">
                <i class="bi bi-droplet-half"></i>
                <p>{{mana()}}</p>
            </button>
        }
        @else {
            <i class="bi bi-droplet-half"></i>
            <p>{{mana()}}</p>
        }
    </section>

    <section class="profile">
        <img class="photo" src="{{profileImage()}}" alt="" (click)="toggleSubmenu('profile-options')">
    </section>
</div>

<div class="rankings" [class.show]="activeSubmenu === 'rankings'" [class.hide]="!isFirstLoadRankings() && activeSubmenu !== 'rankings'" [class.rankings-superadmin]="decoded.role === 'superadmin'">
    <p routerLink="global-ranking">Global</p>
    <p routerLink="group-ranking">Grupal</p>
</div>

<div class="profile-options" [class.show]="activeSubmenu === 'profile-options'" [class.hide]="!isFirstLoadProfile() && activeSubmenu !== 'profile-options'">
    <p routerLink="profile">Historial</p>
    <p routerLink="help">Ayuda</p>
    <p routerLink="privacy-notice">Aviso de <br> privacidad</p>
    <p (click)="logout()">Cerrar Sesión</p>
</div>

<dialog id="mana-cost">
  <div class="mana">
        <div class="content-card">
            <fieldset>
                <legend>Costos de maná</legend>
                <table>
                    <tr>
                        <th>Descripción</th>
                        <th>
                            <sup>Costo</sup>/<sub>Recompensa</sub>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    @for (reason of moneyReasons(); track $index; let i = $index) {
                        <tr>
                            <td>{{reason.description}}</td>
                            <td>
                                @if (editingIndex === i) {
                                    <input class="new-cost" type="number" [(ngModel)]="newCost" />
                                } @else {
                                    {{ reason.quantity }}
                                }
                            </td>

                            @if (editingIndex !== i) {
                                <td></td>
                            }

                            @if (editingIndex !== i) {
                                <td>
                                    <i class="bi bi-pencil" style="cursor: pointer;" (click)="enableEditing(i, reason.quantity)"></i>
                                </td>
                            }

                            @if (editingIndex === i) {
                                <td>
                                    <i class="bi bi-check-circle" (click)="confirmEdit(reason.money_reason_id, newCost)"></i>
                                </td>
                            }

                            @if (editingIndex === i) {
                                <td>
                                    <i class="bi bi-x" (click)="cancelEdit()"></i>
                                </td>
                            }
                        </tr>
                    }
                </table>

            </fieldset>

            <div class="action-buttons">
                <button class="confirm-button" commandfor="mana-cost" command="close" (click)="cancelEdit()">Cerrar</button>
            </div>
        </div>
    </div>
</dialog>

 <p-toast position="top-left" />
