<div class="menu" (clickOutside)="closeSubmenu()">
    <section class="options">
        <p routerLink="agenda" (click)="closeSubmenu()">Agenda</p>
        <p (click)="toggleSubmenu('rankings'); ">Rankings</p>
        <p routerLink="live-streamers" (click)="closeSubmenu()">Apoyo</p>
        @if (decoded.role === 'superadmin') {
            <p routerLink="groups" (click)="closeSubmenu()">Grupos</p>
            <p routerLink="users" (click)="closeSubmenu()">Usuarios</p>
        }
    </section>

    <section class="coins">
        @if (decoded.role === 'superadmin') {
            <button command="show-modal" commandfor="mana-cost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-droplet-half" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                    <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
                </svg>
                <p>{{mana()}}</p>
            </button>
        }
        @else {
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-droplet-half" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
            </svg>
            <p>{{mana()}}</p>
        }
    </section>

    <section class="profile">
        <img class="photo" src="{{profileImage()}}" alt="" (click)="toggleSubmenu('profile-options')">
    </section>
</div>

<div class="rankings" [class.show]="activeSubmenu === 'rankings'" [class.hide]="!isFirstLoadRankings && activeSubmenu !== 'rankings'" [class.rankings-superadmin]="decoded.role === 'superadmin'">
    <p routerLink="global-ranking">Global</p>
    <p routerLink="group-ranking">Grupal</p>
</div>

<div class="profile-options" [class.show]="activeSubmenu === 'profile-options'" [class.hide]="!isFirstLoadProfile && activeSubmenu !== 'profile-options'">
    <p routerLink="profile">Historial</p>
    <p routerLink="help">Ayuda</p>
    <p routerLink="privacy-notice">Aviso de <br> privacidad</p>
</div>

<dialog id="mana-cost">
  <div class="mana">
        <div class="content-card">
            <fieldset>
                <legend>Costos de maná</legend>
                <table>
                    <tr>
                        <th>Descripción</th>
                        <th>
                            <sup>Costo</sup>/<sub>Recompensa</sub>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    @for (reason of moneyReasons(); track $index; let i = $index) {
                        <tr>
                            <td>{{reason.description}}</td>
                            <td>
                                @if (editingIndex === i) {
                                    <input class="new-cost" type="number" [(ngModel)]="newCost" />
                                } @else {
                                    {{ reason.quantity }}
                                }
                            </td>

                            @if (editingIndex !== i) {
                                <td></td>
                            }

                            @if (editingIndex !== i) {
                                <td>
                                    <i class="bi bi-pencil" style="cursor: pointer;" (click)="enableEditing(i, reason.quantity)"></i>
                                </td>
                            }

                            @if (editingIndex === i) {
                                <td>
                                    <i class="bi bi-check-circle" (click)="confirmEdit(reason.money_reason_id, newCost)"></i>
                                </td>
                            }

                            @if (editingIndex === i) {
                                <td>
                                    <i class="bi bi-x" (click)="cancelEdit()"></i>
                                </td>
                            }
                        </tr>
                    }
                </table>

            </fieldset>

            <div class="action-buttons">
                <button class="confirm-button" commandfor="mana-cost" command="close" (click)="cancelEdit()">Cerrar</button>
            </div>
        </div>
    </div>
</dialog>