@if (decoded.group !== null) {
    <div class="main">
        <h1>Apoya a otros creadores de contenido</h1>
    
        <section>
            <h2>Canales en vivo</h2>
            @for (channel of liveChannels(); track $index) {
            <div class="channels" routerLink="/stream/{{channel.channel_name}}" style="cursor: pointer">
                {{channel.channel_name}}
            </div>
            }
        </section>
    
        <section>
            <h2>Próximamente</h2>
            @for (channel of [1, 1]; track $index) {
            <div class="channels">
    
            </div>
            }
        </section>
    </div>
}
@else {
    <app-no-group />
}
