@if (decoded.group === 'null') {
    <app-no-group />
}
@else {
    @if (!isLoading()) {
        <div class="main">
            <h1>Apoya a otros creadores de contenido</h1>
            
            @if(liveChannels().length === 0 && scheduledChannels().length === 0){
                <section style="text-align: center; justify-content: center;">
                    <h2>
                        No hay streams agendados el dia de hoy
                    </h2>
                    <img src="https://media.tenor.com/GPMqRbwdDFkAAAAj/sleepy-sleeping.gif" width="300px" height="250px" alt="kirby sleeping">
                </section>
            }

            @if(liveChannels().length > 0) {
                <section>
                    <h2>
                        Canales en vivo
                        <i style="color: red;" class="bi bi-circle-fill"></i>
                    </h2>
                    @for (channel of liveChannels(); track $index) {
                    <div class="channels" routerLink="/stream/{{channel.user.channel_name}}" style="cursor: pointer">
                        <img src="{{channel.profile_photo}}" alt="Profile Photo">
                        <h2>{{channel.display_name}}</h2>
                    </div>
                    }
                </section>
            }
        
            @if(scheduledChannels().length > 0) {
                <section>
                    <h2>Próximamente</h2>
                    @for (channel of scheduledChannels(); track $index) {
                    <div class="channels">
                        <img src="{{channel.profile_photo}}" alt="">
                        <h2>{{channel.display_name}} - {{channel.hour.hour_name}}</h2>
                    </div>
                    }
                </section>
            }
        </div>
    }
    @else {
        <p style="color: white;">
            Cargando...
        </p>
    }
}
