@if(!isLoading()) {
    <div class="main-groups">
        
        <section class="groups">
            @for (group of groups().keys(); track $index; let i = $index) {
                <div class="group-card">
                    
                    <div class="tittle">

                        @if (isEditingName() === true && i === indexEditing) {
                            <p-floatlabel variant="in">
                                <input pInputText [(ngModel)]="newName" autocomplete="off" />
                                <label for="in_label">{{actualName}}</label>
                            </p-floatlabel>
                        }
                        @else {
                            <h1>
                                @if (i !== 0 || group === 'A') {
                                    Grupo
                                }
                                {{group}}
                            </h1>
                        }

    
                        @if(i !== 0) {
                            <div class="buttons-member">
                                @if (isEditingName() === true && i === indexEditing) {
                                    <button class="edit-button" (click)="confirmEdition()">
                                        <i class="bi bi-check-lg"></i>
                                    </button>
                                    <button class="edit-button" (click)="isEditingName.set(false); newName = ''" >
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                }
                                @else {
                                    <button class="edit-button" (click)="startEditing(groupsIds()[i], i, group)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                }
                            </div>
                        }
                    </div>

                    <div class="group-members">
                        @if (groups().get(group)?.length === 0) {
                            <div class="new-group" (click)="deleteEmptyGroup(groupsIds()[i])">
                                <p>
                                    Este grupo se encuentra vacío
                                    ¿Borrar grupo? <br>
                                    <i class="bi bi-trash"></i>
                                </p>
                            </div>
                        }
                        @else {
                            @for (streamers of groups().get(group); track $index; let j = $index) {
                                <div class="member">
                                    <div class="name-member">
                                        {{j + 1}} - {{streamers.channel_name}}
                                    </div>
                                    
                                    <div class="buttons-member">
                                        <button class="edit-button" (click)="user_id = streamers.user_id" command="show-modal" commandfor="my-dialog">
                                            <i class="bi bi-pencil"></i>
                                        </button>

                                        @if(i !== 0 || group === 'A') {
                                            <button (click)="updateUser(streamers.user_id, null)">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            <div class="group-card">
                <button class="new-group" (click)="createNewGroup()">
                    <p>
                        Agregar nuevo grupo
                        <br />
                        <i class="bi bi-clipboard-plus"></i>
                    </p>    
                </button>
            </div>
        </section>
    
    </div>
}
@else {
    <app-loading-screen />
}

<dialog id="my-dialog">
    <div class="group">
        <div class="content-card">
            <h1>
                Asignar nuevo grupo
            </h1>

            <div class="group-selection">
                <div class="group-selector">
                    <h3>
                        Elige el grupo
                    </h3>
        
                    <select [(ngModel)]="selectedGroup">
                        @for (group of groupsOptions; track $index;) {
                            <option [ngValue]="group">{{group.group_name}}</option>
                        }
                    </select>
                </div>

            </div>


            <div class="action-buttons">
                <button class="confirm-button" command="close" commandfor="my-dialog" (click)="clearGroupSelected()">Cancelar</button>
                <!-- @if(newSchedule.day_id == '' || newSchedule.hour_id == '') {
                    <button class="confirm-button" disabled commandfor="my-dialog">Confirmar</button>
                }
                @else { -->
                    <button class="confirm-button" command="close" commandfor="my-dialog" (click)="updateUser(user_id, selectedGroup)">Confirmar</button>
                <!-- } -->
            </div>
        </div>
    </div>
</dialog>
