.main-groups {
    width: 100%;
    height: calc(100% - 50px);
    color: #4DD9FF;
    display: flex;
    justify-content: center;
    align-items: center;

    .groups {
        width: 95%;
        height: 95%;
        // border: 1px solid #4DD9FF;
        padding: 1px;
        display: flex;
        justify-content: space-evenly;
        overflow-x: auto;
        scrollbar-color: #4DD9FF transparent ;
        
        .group-card {
            border: 1px solid #4DD9FF;
            min-width: 25%;
            height: 95%;
            margin: 1% 3%;
            border-radius: 6px;
            text-align: center;

            h1 {
                height: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .group-members {
                border: 1px solid white;
                display: flex;
                flex-wrap: wrap;
                height: 95%;
                overflow-y: auto;

                .member {
                    border: 1px solid white;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 10%;
                }
            }

        }

    }

}