@if(!isLoading()) {
    <div class="main-groups">
        
        <section class="groups">
            @for (group of groups().keys(); track $index; let i = $index) {
                <div class="group-card">
    
                        <h1>
                            @if (i !== 0 || group === 'A') {
                                Grupo
                            }
                            {{group}}
                        </h1>
    
                    <div class="group-members">
                        @if (groups().get(group)?.length === 0) {
                            <div style="text-align: center; width: 100%; font-size: xx-large; margin-top: 5%;">
                                Este grupo se encuentra vacío
                            </div>
                        }
                        @else {
                            @for (streamers of groups().get(group); track $index; let j = $index) {
                                <div class="member">
                                    <div class="name-member">
                                        {{j + 1}} - {{streamers.channel_name}}
                                    </div>
                                    
                                    <div class="buttons-member">
                                        <button class="edit-button" (click)="user_id = streamers.user_id" command="show-modal" commandfor="my-dialog">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                            </svg>
                                        </button>

                                        @if(i !== 0 || group === 'A') {
                                            <button (click)="updateUser(streamers.user_id, null)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                </svg>
                                            </button>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </section>
    
    </div>
}
@else {
    <app-loading-screen />
}

<dialog id="my-dialog">
    <div class="group">
        <div class="content-card">
            <h1>
                Asignar nuevo grupo
            </h1>

            <div class="group-selection">
                <div class="group-selector">
                    <h3>
                        Elige el grupo
                    </h3>
        
                    <select [(ngModel)]="selectedGroup">
                        @for (group of groupsOptions; track $index;) {
                            <option [ngValue]="group">{{group.group_name}}</option>
                        }
                    </select>
                </div>

            </div>


            <div class="action-buttons">
                <button class="confirm-button" command="close" commandfor="my-dialog" (click)="clearGroupSelected()">Cancelar</button>
                <!-- @if(newSchedule.day_id == '' || newSchedule.hour_id == '') {
                    <button class="confirm-button" disabled commandfor="my-dialog">Confirmar</button>
                }
                @else { -->
                    <button class="confirm-button" command="close" commandfor="my-dialog" (click)="updateUser(user_id, selectedGroup)">Confirmar</button>
                <!-- } -->
            </div>
        </div>
    </div>
</dialog>
