@if (!isLoading()) {
    <div class="main">
        <section class="schedule-section">
            <div class="timeFormat">
                <input type="checkbox" (click)="is24HourFormat.set(!is24HourFormat())">
                <label for="">Cambiar formato de horas (12 o 24 horas)</label>
            </div>
    
            <button command="show-modal" commandfor="my-dialog">Agendar</button>
        </section>
    
        <section class="available-hours">
            @for (day of days.keys(); track $index; let i = $index) {
            <div class="display-day">
                <div class="day-of-the-week">
                    <h1>{{day}}</h1>
                </div>
                <div class="hour-of-the-day">
                    @for(hour of days.get(day); track $index) {
                        <div [class.no-schedule]="hour[1] == 0" [class.schedule-one-hour]="hour[1] == 1" [class.schedule-two-hours]="hour[1] == 2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                            </svg>
                            <h1>{{hour[0] | timeFormat:is24HourFormat()}}</h1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                            </svg>

                            @if(usersTooltips[i].get(hour[0])?.length != 0) {
                                <ul class="tooltiptext" style="list-style-type: none;">
                                    @for (streamer of usersTooltips[i].get(hour[0]); track $index;) {
                                        <li>
                                            {{streamer.user.channel_name}}
                                        </li>
                                    }
                                </ul>
                            }
                        </div>


                    }
                </div>
            </div>
            }
        </section>
    </div>
}
@else {
    <p style="color: white;">
        Cargando...
    </p>
}

<dialog id="my-dialog">
    <div class="agenda">
        <div class="content-card">
            <h1>
                Agendar hora de apoyo
            </h1>

            <div class="day-selection">
                <div class="day-selector">
                    <h3>
                        Elige el dia
                    </h3>
        
                    <select [(ngModel)]="selectedDay" (ngModelChange)="changeDay(selectedDay)">
                        @for (day of daysOptions; track $index;) {
                            <option [ngValue]="day">{{day.day_name}}</option>
                        }
                    </select>
                </div>

                <fieldset>
                    <legend>Costos de maná</legend>
                    <p>L - V: <b>10</b></p>
                    <p>Sábado: <b>50</b></p>
                </fieldset>
            </div>

            
            @if (selectedDay.day_id != '') {
                <h3>
                    Elige una hora (sujetas a disponibilidad)
                </h3>
                
                <div class="hour-buttons">
                    @for (hour of hoursOptionsFiltered; track $index) {
                        <button class="hour-button" [class.selected]="selectedHour === hour.hour_name" (click)="selectHour(hour)">{{hour.hour_name| timeFormat:is24HourFormat()}}</button>
                    }
                </div>
            }

            <div class="action-buttons">
                <button class="confirm-button" command="close" commandfor="my-dialog" (click)="clearDaySelected()">Cancelar</button>
                @if(newSchedule.day_id == '' || newSchedule.hour_id == '') {
                    <button class="confirm-button" disabled commandfor="my-dialog">Confirmar</button>
                }
                @else {
                    <button class="confirm-button" command="close" commandfor="my-dialog" (click)="checkNewSchedule()">Confirmar</button>
                }
            </div>
        </div>
    </div>
</dialog>