@if (decoded.group === 'null') {
    <app-no-group />
}
@else {
    @if (!isLoading()) {
        <div class="main">
            <section class="schedule-section">
                <div class="timeFormat">
                    <input type="checkbox" (click)="is24HourFormat.set(!is24HourFormat())">
                    <label for="">Cambiar formato de horas (12 o 24 horas)</label>
                </div>
        
                <div>
                    <button style="margin-right: 20px;" command="show-modal" commandfor="my-hours-dialog" (click)="getMyScheduledHours()">Mis horas</button>
                    <button command="show-modal" commandfor="schedule-dialog" (click)="getDaysCost()">Agendar</button>
                </div>
            </section>
        
            <section class="available-hours">
                @for (day of days.keys(); track $index; let i = $index) {
                <div class="display-day">
                    <div class="day-of-the-week">
                        <h1>{{day}}</h1>
                    </div>
                    <div class="hour-of-the-day">
                        @for(hour of days.get(day); track $index) {
                            <div [class.no-schedule]="hour[1] == 0" [class.schedule-one-hour]="hour[1] == 1" [class.schedule-two-hours]="hour[1] == 2">
                                <i class="bi bi-check-circle"></i>
                                <h1>{{hour[0] | timeFormat:is24HourFormat()}}</h1>
                                <i class="bi bi-check-circle"></i>
    
                                @if(usersTooltips[i].get(hour[0])?.length != 0) {
                                    <ul class="tooltiptext" style="list-style-type: none;">
                                        @for (streamer of usersTooltips[i].get(hour[0]); track $index;) {
                                            @if (streamer.hour.hour_name === hour[0]) {
                                                <li>
                                                    {{streamer.user.channel_name}}
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                            </div>
                        }
                    </div>
                </div>
                }
            </section>
        </div>
    }
    @else {
        <p style="color: white;">
            Cargando...
        </p>
    }
}

<dialog id="schedule-dialog">
    <div class="agenda">
        <div class="content-card">
            <h1>
                Agendar hora de apoyo
            </h1>

            <div class="day-selection">
                <div class="day-selector">
                    <h3>
                        Elige el dia
                    </h3>
        
                    <select [(ngModel)]="selectedDay" (ngModelChange)="changeDay(selectedDay)">
                        @for (day of daysOptions; track $index;) {
                            <option [ngValue]="day">{{day.day_name}}</option>
                        }
                    </select>
                </div>

                <fieldset>
                    <legend>Costos de maná</legend>
                    <p>L - V: <b>{{normalHour()}}</b></p>
                    <p>Sábado: <b>{{vipHour()}}</b></p>
                </fieldset>
            </div>

            
            @if (selectedDay.day_id != '') {
                <h3>
                    Elige una hora (sujetas a disponibilidad)
                </h3>
                
                <div class="hour-buttons">
                    @for (hour of hoursOptionsFiltered(); track $index) {
                        <button class="hour-button" [class.selected]="selectedHour === hour.hour_name" (click)="selectHour(hour)">{{hour.hour_name| timeFormat:is24HourFormat()}}</button>
                    }
                </div>
            }

            <div class="action-buttons">
                <button class="confirm-button" command="close" commandfor="schedule-dialog" (click)="clearDaySelected()">Cancelar</button>
                @if(newSchedule.day_id == '' || newSchedule.hour_id == '') {
                    <button class="confirm-button" disabled commandfor="schedule-dialog">Confirmar</button>
                }
                @else {
                    <button class="confirm-button" command="close" commandfor="schedule-dialog" (click)="checkNewSchedule()">Confirmar</button>
                }
            </div>
        </div>
    </div>
</dialog>

<dialog id="my-hours-dialog">
    <div class="agenda">
        <div class="content-card">
            <fieldset class="my-hours">
                <legend>Mis horas agendadas</legend>

                <table>
                    <tr>
                        <th>Dia</th>
                        <th>Hora</th>
                        <th></th>
                    </tr>
                    
                    @for (schedule of mySchedule(); track $index) {
                        <tr [class.past-schedule]="isPastSchedule(schedule)">
                            <td>{{schedule.day.day_name}}</td>
                            <td>{{schedule.hour.hour_name | timeFormat:is24HourFormat()}}</td>
                            @if (!isPastSchedule(schedule)) {
                                <td>
                                    <button command="show-modal" commandfor="confirm-delete-hour">
                                        <i class="bi bi-trash" (click)="getHourToDelete(schedule)"></i>
                                    </button>
                                </td>
                            }
                        </tr>
                    }

                </table>
            </fieldset>

            <div class="action-buttons">
                <button class="confirm-button" command="close" commandfor="my-hours-dialog" (click)="clearDaySelected()">Cancelar</button>
            </div>

        </div>
    </div>
</dialog>

<dialog id="confirm-delete-hour">
    <div class="expulsion">
        <div class="content-card">
            <h1>
                ¿Estas seguro que quieres cancelar esta hora agendada?
            </h1>
            
            <div class="schedule-to-delete">
                <h2>Dia: {{scheduleToDelete.day.day_name}}</h2>
                <h2>Hora: {{scheduleToDelete.hour.hour_name | timeFormat:is24HourFormat()}}</h2>
            </div>
            <fieldset>
                <legend>Nota</legend>
                <p>Si cancelas una hora el mismo dia que esta agendada, no se reembolsara el maná</p>
            </fieldset>
            <div class="action-buttons">
                <button class="confirm-button" command="close" commandfor="confirm-delete-hour">Cancelar</button>
                <button class="confirm-button" command="close" commandfor="confirm-delete-hour" (click)="confirmCancelHour()">Confirmar</button>
            </div>
        </div>
    </div>
</dialog>

 <p-toast />
