<div class="container">
    <h1>Cómo funciona</h1>

    <section>
        <h2>Obtener maná</h2>
        <p>Para obtener maná apoyando a los streamers agendados, el sistema funciona de la siguiente manera:</p>
        <ul>
            <li><strong>5 comentarios</strong> + ver el stream durante <strong>30 minutos</strong> = <strong>+{{manaPerView()}} maná</strong></li>
            <li><strong>10 comentarios</strong> + ver el stream durante <strong>1 hora</strong> = <strong>+{{manaPerView()}} maná</strong></li>
            <li>Después de los primeros 10 comentarios, dentro de la hora agendada, ganas <strong>+1 maná extra</strong> por cada <strong>5 comentarios adicionales</strong>:
                <ul>
                    <li>15 comentarios = +2 maná</li>
                    <li>20 comentarios = +3 maná</li>
                    <li>25 comentarios = +4 maná</li>
                    <li>Y así sucesivamente...</li>
                </ul>
            </li>
            <li>Además por cada suscripción ya sea del viewer o regalada son +{{manaPerSub()}} de maná</li>
        </ul>
    </section>

    <section>
        <h2>Streamers en vivo</h2>
        <p>
            La detección de streamers en vivo agendados es de manera automática,
            así que estate atento a las notificaciones y a la sección de apoyo.
        </p>
    </section>
</div>
