.container {
    width: calc(100% - 40px);
    height: calc(100% - 90px);
    padding: 20px;
    overflow-y: auto;
    scrollbar-color: #4DD9FF transparent;
}

h1 {
    color: #9146FF;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #9146FF;
    margin-top: 25px;
}

p {
    color: #4DD9FF;
    margin-bottom: 10px;
    font-size: large;
}

ul {
    padding-left: 20px;
    color: #4DD9FF;
    font-size: large;
    margin-bottom: 10px;

    li {
        margin-bottom: 8px;

        ul {
            margin-top: 8px;
            li {
                margin-bottom: 4px;
            }
        }
    }
}

strong {
    color: #00CFFF;
}
