.main-container {
  display: flex;
  height: calc(100% - 50px);
  flex-wrap: wrap;
  color: white;
  gap: 10px;
  // overflow-y: auto;
  // overflow-x: hidden;

  .embed-stream {
    width: clamp(400px, 80%, 2000px);
    height: clamp(300px, 80%, 1000px);
    aspect-ratio: 16 / 7;
    min-height: 300px;
    border: none;
  }

  .embed-chat {
    height: max(80%, 300px);
    width: 19%;
    border: none;
  }

  .win-mana {
    margin-left: 5%;

    h1 {
      color: #4DD9FF;
    }

    ul {
      font-size: x-large;
      
      li > .bi-droplet-half {
        color: #0695c0;
    }

    }
  }
}


